body {
  text-align: center;
  background-color: #ffe2e2;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin:  5%;
  color: #47387e;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 35px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid rgb(65, 63, 63);
  border-radius: 100%;
  box-shadow: 10px 10px lightslategray;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: rgb(228, 90, 90);
}

.green {
  background-color: rgb(70, 213, 70);
}

.blue {
  background-color: rgb(80, 80, 203);
}

.yellow {
  background-color: rgb(216, 216, 90);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.rules{
  color: #47387e;
  font-size: 1rem;
}
